/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background-color: #EEEEEE;
}

.topBar{
    background-color:#FFFFFF;
    width: 100%;
    height: 40px;
    margin: 0 auto;

}

.navDiv{
    width: auto;
    height: 20px;
    padding: 10px;
    clear:none;
}

.logoDiv{
    width:150px;
    clear:none;
    margin-top:0px;
    padding-left:20px
}

.topListDiv{
    text-align:center;
    width:80%;
    margin-top:-48px;
    margin-left:150px
    
}

.topList li{
    display: block;
    float: left;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type:none;
}

.topList li:hover{
    background-color:#2693FF;
    opacity:.8;
    color:#FFFFFF;
    border-radius:2px 2px 2px 2px;
}

.userInfoDiv{
     margin: 10px;
     padding: 5px;
     color: #FF0000;
    float:right;
    margin-top:10px;
    font-size:12px
}

.graphicDiv{
    width: 100%;
    height: 250px;
    background-color:#000000;
}

.contentTitleDiv{
    width: 760px;
    height: 5px;
    margin: 0 auto;
    background-color:#FFFFFF;
    margin-top:-20px;
    padding:20px;
    margin-bottom:10px;
    border-bottom:1px;
    border-top:0px;
    border-right:0px;
    border-left:0px;
    border-style:solid;
    margin-bottom:0px;
    

}

.listTitle{
    width:200px;
    float:left;
    margin-left:20px;
    font-size:23px;
    margin-top:-10px;
}

.filterDiv{
    width:auto;
    float:right;
    margin-right:40px;
}

.contentDiv{
    margin: 0 auto;
    width: 820px;
    background-color: #FFFFFF;
    margin-top:0px;
    padding:40px;
    border:solid;
    border-color:#EFEFEF;
    
    
}

.itemDiv{
    padding:10px;
    height:70px;
    border-bottom:1px;
    border-top:0px;
    border-right:0px;
    border-left:0px;
    border-style:solid;
}

.numberDiv{
    float:left;
    font-size:24px;
    font-weight:800;
    margin-top:20px;
    
}

.bookImg{
    float:left;
    width:45px;
    height:56px;
    background-color:#000000;
    margin: 10px;
}

.bookTitle{
    float:left;
}

.bookAuthor{
    width:200px;
    
}

.bookYear{
    float:left;
}

.actionsDiv{
    float:left;
}

.favoriteButton{
    float:left;
}

.commentsButton{
    float:left;
}

.checkBox{
    float:left;
}

.loginDiv{
    float:right;
    width:217px;
    background-color:#FFFFFF;
    border:solid;
    border-color:#EEEEEE;
    padding-bottom:20px;
    
}
.searchDiv{
    margin:0 auto;
    width:200px;
    height:20px;
    background-color:#EEEEEE;
    margin-top:10px;
    
}
.usernameTitle{
    width:90px;
    float:left;
    margin-bottom:0px;
    margin-left:11px;
    font-size:12px;
    font-size:12px;
}
.passwordTitle{
    width:90px;
    float:left;
    margin-bottom:0px;
    margin-left:12px;
    font-size:12px;
}
.username{
    width:93px;
    height:20px;
    margin-left:10px;
    margin-top:0px;
    background-color:#EEEEEE;
    float:left;
}
.password{
    width:92px;
    height:20px;
    margin-left:10px;
    background-color:#EEEEEE;
    float:left;
}
.checkBoxRemember{
    float:left;
    font-size:10px;
    margin:10px;
    margin-top:15px;
    
}
.checkBoxText{
    position:relative;
    top:-3px;
}
.loginButton{
    width:100px;
    height:20px;
    margin-right:11px;
    margin-top:10px;
    background-color:#EEEEEE;
    float:right;
    background-color:#2693FF;
    height:20px;
    padding-top:5px;
    text-align:center;
    font-size:12px;
    color:#FFFFFF;
}
.forgotPassword{
    float:left;
    text-align:center;
    width:220px;
    font-size:12px;
    margin-top:10px;
    margin-bottom:0px;
    color:#2693FF;

}
.createButton{
    width:195px;
    height:20px;
    margin-right:11px;
    margin-top:0px;
    float:right;
    height:20px;
    padding-top:5px;
    text-align:center;
    font-size:12px;
    color:#2693FF;
}










/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}